<!-- <h2>Edit Articles</h2>
<%= form_for @article do |form| %>
<%= form.label 'Article Title' %> <br>
<%= form.text_field :title %> <br>

<%= form.label 'Article Description' %> <br>
<%= form.text_area :description %> <br> <br>

<%= submit_tag "Submit Article" %>
<% end %> -->